<div class="input" [formGroup]="formAutocomplete" (keyup)="getInputValue()">
  <lib-autocomplete
    (clear)="clearInput()"
    [placeholder]="'inizia ricerca...'"
    [parentFormGroup]="formAutocomplete"
    [controlName]="'autocomplete'"
    [name]="'autocomplete'"
    [for]="'autocomplete'"
    (keydown)="onKeyDown($event)"
    [class]="'primary'"
    #input
    [showClear]="formAutocomplete.value.autocomplete !== '' ? true : 
    false"
  >
    <div
      class="result"
      *ngFor="let result of searchResult; let i = index"
      [class.selected]="selectedOption % searchResult.length === i"
      (click)="onSelect(result)"
    >
      {{ result }}
    </div>
    <div class="no-result" *ngIf="!selected">
      {{ messaggio }}
    </div>
    <!-- <div class="selection-wrapper" *ngIf="selectedText !== ''">
    {{ selectedText }}
  </div> -->
  </lib-autocomplete>
</div>

<!-- <div class="input">
  <lib-input
    class="primary"
    [type]="'password'"
    [placeholder]="'inserisci password'"
    [togglePasswordVisibility]="true"
    [height]="'300px'"
  ></lib-input>
</div> -->

<!-- <lib-welcome [name]="'Mario Rossi'"></lib-welcome>

<lib-button [textButton]="'ciao'"></lib-button>

<lib-round-button
  [image]="
    'https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F_400x400.jpg'
  "
></lib-round-button> -->

<!-- <lib-toast [text]="'prova'" (action)="metodo()"></lib-toast>

<lib-toast [text]="'prova'" (action)="metodo()"></lib-toast>

<lib-input [placeholder]="'ciao'"></lib-input> -->

<!-- <lib-checkbox
  [image]="
    'https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F_400x400.jpg'
  "
  [controlName]="'sono la controllname'"
  [name]="'sono Name'"
  [content]="'ciao'"
></lib-checkbox>
<lib-textarea
  [textLabel]="'ciao'"
  [background]="'red'"
  [border]="'1px solid green'"
  [placeholder]="'vediamo un pò se esce qualcosa!'"
  [resize]="''"
></lib-textarea> -->
