* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input {
    width: 50%;
    min-height: 50px;
    position: relative;
    margin: 0 auto;
}
/* .selection-wrapper {
    position: absolute; 
    background: white;
    top: 0;
    left: 0;
    pointer-events: none;
    padding-left: 1.2rem;
} */

.result{
 display: flex;
 flex-direction: column;
 padding: 0.2rem 1rem;
 overflow: hidden;
border-left: 3px solid transparent;
}

.no-result {
 padding: 0.2rem 1rem;
 opacity: 0.5;
}

.result.selected{
    background: rgba(218, 218, 218, 0.521);
    border-left: 3px solid #003594;
}

.result:hover{
    background: rgba(218, 218, 218, 0.521);
    cursor: default;
    
}

lib-autocomplete {
    position: relative;
}

.risposta-wrapper {
    position: absolute;
    background: transparent;
    top: 9px;
    left: 19px;
}

.round-button-wrapper {
    height: 50px;
    width: 50px;
}

.round-button-wrapper  > *img {
    object-fit: contain;
}
#button{
    width: 100px;
    height: 30px;
}