<!-- <lib-close-button [class]="'dark'"></lib-close-button> -->

<div id="button">
  <lib-button
    (click)="onClick()"
    [textButton]="'Token'"
    [class]="'primary'"
    [disabled]="false"
  ></lib-button>
</div>
<lib-select
  (selectedOption)="onReceivedOption($event)"
  [options]="opzioniFiltrate"
  
></lib-select>

<div class="input" [formGroup]="formAutocomplete">
  <lib-autocomplete
    (clear)="clearInput()"

    [placeholder]="'Inizia ricerca...'"
    [parentFormGroup]="formAutocomplete"
    [controlName]="'autocomplete'"
    [name]="'autocomplete'"
    [for]="'autocomplete'"
    [class]="'primary'"
    [searchResult]="searchResult"
    [isSearching]="isSearching"
    [noResult]="noResult ? true : false"
    [debounceValue]="500"
    [minCharactersToStartSearch]="3"
    (onInput)="searchSubscription($event)"
    [textLabel]="'ciaone'"
    #input
  >
    <!-- <div
      class="result"
      [class.selected]="selectedOption % searchResult.length === i"
      *ngFor="let result of searchResult; let i = index"
      (click)="onSelect(result)"
    >
      {{ result }}
    </div>

    <div class="no-result" *ngIf="messaggio">
      {{ messaggio }}
    </div> -->
  </lib-autocomplete>
</div>

<!-- <button (click)="onClick()">T O K E N</button> -->
<!-- <lib-button (click)="onClick()"></lib-button> -->

<!-- <div class="input">
  <lib-input
    class="primary"
    [type]="'password'"
    [placeholder]="'inserisci password'"
    [togglePasswordVisibility]="true"
    [height]="'40px'"
  ></lib-input>
</div>



  <lib-button [textButton]="'ciao'" [class]="'primary'" [disabled]="false"></lib-button>
</div>

<div class="round-button-wrapper">
    <lib-round-button
    [height]="'100%'"
    [width]="'100%'"
  [image]="
    'https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F_400x400.jpg'
  "
  [class]="'primary'"
  

></lib-round-button>
</div>

<lib-toast [text]="'prova'" (action)="metodo()"></lib-toast>




<lib-checkbox
  [image]="
    'https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F_400x400.jpg'
  "
  [controlName]="'sono la controllname'"
  [name]="'sono Name'"
  [content]="'ciao'"
></lib-checkbox>

<lib-textarea
  [textLabel]="'ciao'"
  [background]="'red'"
  [border]="'1px solid green'"
  [placeholder]="'vediamo un pò se esce qualcosa!'"
  [resize]="''"
></lib-textarea> -->
<!-- <lib-input [placeholder]="'ciao'"></lib-input> -->
<!-- <lib-welcome [name]="'Mario Rossi'"></lib-welcome>
<div id="button"> -->

<!-- <lib-input
    class="primary"
    [type]="'text'"
    [placeholder]="'inserisci password'"
    [toggleDatePicker]="true"
    (calendarClick)="openDatePicker()"
  ></lib-input>

  <lib-input
    class="primary"
    [type]="'password'"
    [placeholder]="'inserisci password'"
    (calendarClick)="openDatePicker()"
    [togglePasswordVisibility]="true"
  ></lib-input> -->
<!-- <lib-select
  (selectedOption)="onReceivedOption($event)"
  [options]="opzioniFiltrate"
></lib-select> -->


<h1>CIAONE MASSIMO BUONANOTTE</h1>


<h1>CIAONE MASSIMO BUONANOTTE</h1>

<!-- <div class="input" [formGroup]="formAutocomplete">
    <lib-autocomplete
      (clear)="clearInput()"
      [placeholder]="'Inizia ricerca...'"
      [parentFormGroup]="formAutocomplete"
      [controlName]="'autocomplete'"
      [name]="'autocomplete'"
      [for]="'autocomplete'"
      [class]="'primary'"
      [searchResult]="searchResult"
      [isSearching]="isSearching"
      [noResult]="noResult ? true : false"
      [debounceValue]="500"
      [minCharactersToStartSearch]="3"
      (onInput)="searchSubscription($event)"
      [textLabel]="'ciaone'"
      #input
    >
    </lib-autocomplete>
  </div> -->
